<%= form_for @user, action: user_path, method: :patch do |f| %>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    <div>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>
    <div>
        <%= f.submit "Update user" %>
    </div>
<% end %>